Hallo {{firstname}} {{lastname}},

dein persönlicher WLAN-Zugang für die Gemeinde wurde deaktiviert. Wenn deine Gemeinde über ein Gast-WLAN verfügt kannst du darüber weiterhin ins Internet.

Um die Gründe für die Deaktivierung zu erfahren, wende dich bitte an einen der IT-Administratoren. Die Deaktivierung betrifft nur den WLAN-Zugang. Alle anderen IT-Dienste in der Gemeinde sind davon nicht betroffen.

Viele Grüße

Dein WLAN-Service